#name {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  margin: auto;
}

.aboutme {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  margin: auto;
}

.container {
  background-color: lightsalmon;
  margin: auto;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #5159c9;
  color: rgb(247, 240, 240);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #5a77d6;
}

footer {
  position: fixed;
  bottom: 0%;
  padding: 20px;
}

.image1 {
  border-radius: 30px;
  margin-left: 380px;
  margin: auto;
}
.card-deck {
  margin: auto;
  width: 700px;
  height: auto;
}

#contact {
  margin: auto;
  text-align: center;
}
.p1 {
  text-align: center;
}
